.centrado-porcentual {
    border: solid 1px #47c9a2;
    padding: 2%;
    border-radius: 5px;
    margin:1% 10%;

}
.centrado-porcentual h1{
    width: 100%;
    text-align: center;
}
.cont_resp{
    text-align: center;
    margin-top: 1%;
    width: 100%;
    height: 200px;
    border: dashed 1px tomato;
}
#respuestas{
    border-top: dashed 1px tomato;
}
.btn{
    font-weight: 600;
}
.jade{
    display: inline-block;
    text-align: center;
    border: solid 1px #adb5bd;
    width: 100%;
    padding: 10px;
    background: lightyellow;
}
.jade span{
    width: 100%;
    float: left;
}
#repositorios{
    display: inline-block;
    text-align: center;
    border: solid 1px #adb5bd;
    width: 100%;
    padding: 10px;
    margin-top: 1%;
    background: lightblue;
}
#repositorios .input{
    width: 60%;
}
.sesion{
    margin-top:.5%;
    width: 100%;
    text-align: center;
}
.listado{
    background: #fff;
    margin-top: 1%;
    width: 100%;
    float: left;
    padding: 1%;
    border:solid 1px #adb5bd;
    border-radius: 5px;
}
.listado span{
    width: 100%;
    float: left;
    text-align: left;
}
.t_roa{
    text-align: center;
    border-bottom: solid 1px #adb5bd;
}
html,body { 
	height: 100%; 
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}


.login-form{ 
	width:330px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}
.error{
    color: red;
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    margin: auto;
    text-align: center;
}
.stadistics{
    border: solid 1px #47c9a2;
    padding: 10px 0px;
    margin: 3px auto;
}
.stadistics button{
    margin-top: 0;
}
